.login-template {
  background: $gray;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .form-login {
    @include translate(-50%, -50%);
    @include size(400px, auto);
    position: absolute;
    top: 50%;
    left: 50%;
    background: $white;
    border-radius: 5px;
    overflow: hidden;
    text-transform: capitalize;
    @include box-shadow($shadow);

    .header {
      text-align: center;
      font-size: 20px;
      color: $white;
      background: $red;
      padding: 10px 10px 5px 10px;
    }
    .text-header {
      text-align: left;
    }

    .content {
      padding: 10px 30px 30px;
      .txt-header {
        margin-bottom: 15px;
      }
      .btn-sumbit {
        display: block;
        text-transform: capitalize;
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        margin: 15px auto 0;

        &:not(:disabled) {
          color: $white;
          background: $red;
        }
      }
    }
  }
}
