<template >
  <div class="login-template">
    <div class="form-login">
      <div class="header">
        <h5 class="text-header">Login</h5>
        <p>{{$store.state.token}}</p>
      </div>
      <div class="content">
        <h3 class="txt-header">Enter Assignment Code</h3>
        <div>
          <b-form-input
            type="text"
            placeholder="Enter Assignment Code"
            v-model.trim="textCode"
            :state="validate"
          ></b-form-input>
        </div>
        <md-button v-on:click="sumbitHandle" :disabled="isDisabled ? true  : false"  class="md-raised btn-sumbit">Submit</md-button>
      </div>
      </div>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import store from '../stores'

export default {
  name: 'login',
  created () {
    store.commit('getTokenState')
  },
  computed: {
    validate () {
      if (this.textCode.length > 0) {
        this.checkDisabled(false)
        return true
      }
      this.checkDisabled(true)
      return null
    }
  },
  methods: {
    checkDisabled (isDisabled) {
      this.isDisabled = isDisabled
    },
    ...mapMutations([
      'GET_TOKEN'
    ]),
    ...mapActions({
      sumbit: 'SUBMIT_TEST_CODE'
    }),
    sumbitHandle () {
      this.sumbit(this.textCode)
    }
  },
  data () {
    return {
      textCode: '',
      isDisabled: true
    }
  }
}
</script>
